p {
    background-color: lightblue;
    font-size: 14px;
    padding: 10px;
    border:1px solid black;
}

body{
    background-color: aqua;
}

ul{
    list-style-type: none;
}

li {
    padding:10px;
    float: left;
}

li a {
    text-decoration: none;
    padding:10px;
    background-color: red;
    color:white;
    cursor: pointer;
}

li a:hover{
    background-color: blue;
}